<h1>KEEEEETTTTTTYYYYYY CAAAAAATTTTTTTSSSSSS</h1>

<% @cats.each do |cat| %>
  <h3><%= link_to cat.name, cat_url(cat) %></h3>
  <ul>
    <li>color: <%= cat.color %></li>
    <li>sex: <%= cat.sex %></li>
    <li>birth date: <%= cat.birth_date %></li>
    <li>age: <%= cat.age %></li>
  </ul>
    <p><%= cat.description  %></p>
<% end %>
